.no-support-js {
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-support-device {
  color: white;
  background-color: black;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mobile-none {
  display: none;
}

html {
  scrollbar-width: thin; /* Firefox */
  scrollbar-width: none; /* Chrome, Safari, Opera */
  scrollbar-color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1.6px;
  text-decoration: none;
}

::-moz-selection {
  background: transparent;
  color: aqua;
}

::selection {
  background: transparent;
  color: aqua;
}

.font-size-10px {
  font-size: 10px;
}

.main {
  width: 100%;
  height: 800px;
  background-image: url(./img/background\ web.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-main {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.left-main .title__left-main {
  color: white;
  font-size: 60px;
  display: inline-block;
}
.left-main .go-to-main-web {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 30px;
  transition-property: color background;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.left-main .go-to-main-web:hover {
  background: white;
  color: black;
}

.right-main {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-main .box-login {
  background-color: transparent;
  height: 500px;
  width: 400px;
  border-radius: 15px;
  border: 5px solid white;
  display: block;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.right-main .box-login .box-login-top {
  margin-top: 20px;
}
.right-main .box-login .box-login-top .title__box-login {
  text-align: center;
  font-size: 35px;
  color: white;
}
.right-main .box-login .box-login-bottom {
  margin: 32px 32px;
}
.right-main .box-login .input-box {
  margin: 16px 0;
}
.right-main .box-login .input-box label {
  color: white;
}
.right-main .box-login .input-box input {
  border-style: none;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: 2px solid white;
  height: 36px;
  width: 100%;
  color: white;
}
.right-main .box-login .btn-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}
.right-main .box-login .btn-login {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  transition-property: color background;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.right-main .box-login .btn-login:hover {
  background: white;
  color: black;
}
.right-main .box-login .btn-resgister-more {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  transition-property: color background;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  position: absolute;
  bottom: 0;
}
.right-main .box-login .btn-resgister-more:hover {
  background: white;
  color: black;
}
.right-main .box-register {
  background-color: transparent;
  height: 500px;
  width: 400px;
  border-radius: 15px;
  border: 5px solid white;
  display: none;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.right-main .box-register .box-resgister-top {
  margin-top: 20px;
}
.right-main .box-register .box-resgister-top .title__box-resgister {
  text-align: center;
  font-size: 35px;
  color: white;
}
.right-main .box-register .box-resgister-bottom {
  margin: 32px 32px;
}
.right-main .box-register .input-box {
  margin: 16px 0;
}
.right-main .box-register .input-box label {
  color: white;
}
.right-main .box-register .input-box input {
  border-style: none;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: 2px solid white;
  height: 36px;
  width: 100%;
  color: white;
}
.right-main .box-register .btn-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}
.right-main .box-register .btn-resgister {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  transition-property: color background;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.right-main .box-register .btn-resgister:hover {
  background: white;
  color: black;
}
.right-main .under-box {
  margin-top: 20px;
  height: 80px;
  position: relative;
}
.right-main .title-under-box {
  color: white;
}
.right-main .btn-login-more {
  margin-top: 16px;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  transition-property: color background;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  position: absolute;
  bottom: 0;
}
.right-main .btn-login-more:hover {
  background: white;
  color: black;
}

.footer {
  background-color: #0e0f11;
}
.footer .img-footer {
  color: white;
  height: 300px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 32px;
}
.footer .img-footer .text__img-footer {
  width: 100%;
  text-align: center;
}
.footer .img-footer .text__img-footer h1 {
  margin-bottom: 6px;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.footer .img-footer .text__img-footer h1:hover {
  color: aqua;
}
.footer .img-footer .text__img-footer p {
  margin-top: 6px;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.footer .img-footer .text__img-footer p:hover {
  color: aqua;
}
.footer .img-footer img {
  width: 500px;
  height: auto;
  border-radius: 25px;
  transition-property: box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.footer .img-footer img:hover {
  box-shadow: 0 0 20px aqua;
}
.footer .video-footer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 16px;
  gap: 32px;
}
.footer .video-footer h1 {
  color: white;
  text-align: center;
  width: 100%;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.footer .video-footer h1:hover {
  color: aqua;
}
.footer .video-footer video {
  border-radius: 50px;
  width: 70%;
  height: auto;
  transition-property: box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.footer .video-footer video:hover {
  box-shadow: 0 0 20px aqua;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
}
.loading-text span:nth-child(1) {
  filter: blur(0px);
  animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  filter: blur(0px);
  animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
@media (max-width: 1500px) and (min-width: 1275px) {
  .left-main .go-to-main-web, .left-main .title__left-main {
    margin-left: 10%;
  }
  .left-main {
    align-content: center;
    gap: 64px;
  }
}
@media (max-width: 1274px) and (min-width: 740px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .main .left-main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
  }
  .main .left-main .go-to-main-web {
    font-size: 20px;
    padding: 10px 20px;
  }
  .main .left-main .title__left-main {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 40px;
  }
  .main .right-main {
    align-items: flex-start;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .main .right-main .box-register .box-resgister-top .title__box-resgister {
    margin-left: 32px;
    text-align: left;
  }
  .main .right-main .box-register .btn-resgister {
    font-size: 12px;
    padding: 10px 15px;
  }
  .main .right-main .box-register .btn-login-more {
    padding: 5px 15px;
    font-size: small;
  }
  .main .right-main .box-register, .main .right-main .box-login {
    font-size: small;
    height: 95%;
    width: 60%;
  }
  .main .right-main .box-register .box-login-top .title__box-login, .main .right-main .box-login .box-login-top .title__box-login {
    margin-left: 32px;
    text-align: left;
  }
  .main .right-main .box-register .btn-box, .main .right-main .box-login .btn-box {
    margin-top: 20px;
    justify-content: left;
  }
  .main .right-main .box-register .btn-resgister-more, .main .right-main .box-login .btn-resgister-more {
    padding: 5px 15px;
    font-size: small;
  }
  .main .right-main .box-register .btn-login, .main .right-main .box-login .btn-login {
    font-size: 12px;
    padding: 10px 15px;
  }
  .main .right-main .under-box {
    height: 65px;
  }
  .footer .video-footer {
    height: auto;
  }
}
@media (max-width: 739px) {
  .none {
    display: none;
  }
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .main .left-main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
  }
  .main .left-main .go-to-main-web {
    text-align: center;
    width: 75%;
    font-size: 16px;
    padding: 10px 20px;
  }
  .main .left-main .title__left-main {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 26px;
  }
  .main .right-main {
    align-items: flex-start;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .main .right-main .box-register .btn-resgister {
    font-size: 12px;
    padding: 10px 15px;
  }
  .main .right-main .box-register .btn-login-more {
    padding: 5px 15px;
    font-size: small;
  }
  .main .right-main .box-register .title__box-resgister {
    margin-left: 32px;
    text-align: left;
  }
  .main .right-main .box-register, .main .right-main .box-login {
    font-size: small;
    height: 400px;
    width: 100%;
    border: none;
  }
  .main .right-main .box-register .box-login-top .title__box-login, .main .right-main .box-login .box-login-top .title__box-login {
    margin-left: 32px;
    text-align: left;
  }
  .main .right-main .box-register .btn-box, .main .right-main .box-login .btn-box {
    margin-top: 20px;
    justify-content: left;
  }
  .main .right-main .box-register .btn-resgister-more, .main .right-main .box-login .btn-resgister-more {
    padding: 5px 15px;
    font-size: small;
  }
  .main .right-main .box-register .btn-login, .main .right-main .box-login .btn-login {
    font-size: 12px;
    padding: 10px 15px;
  }
  .main .right-main .under-box {
    height: 60px;
  }
  .footer .video-footer {
    height: auto;
  }
  .footer .video-footer video {
    border-radius: 0;
  }
  .footer .img-footer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .img-footer img {
    width: 100%;
  }
  .footer .img-footer .text__img-footer #title-footer-mobile {
    margin-bottom: 12px;
    font-size: 24px;
    text-align: center;
    display: block !important;
  }
}
@media (max-width: 300px) {
  .no-support-device {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 90;
  }
  .no-support-device p {
    margin: 0px 32px;
  }
}/*# sourceMappingURL=style.css.map */